
body {
    font-family: Bell MT;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #190a12;
}


header {
    background: #d82782;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin-top: 0;
}

.pionniers {
    color: #b30059;
    font-weight: bold;
    text-decoration: underline;
}    


article, main, section {
    padding: 15px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-bottom: 20px;

}


.mode, .acceuil {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 10px auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b30059;
    color: white;
}


nav {
    text-align: center;
    padding: 10px;
}

nav a {
    color: #b30059;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


footer {
    background: #da1484;
    color: #ede7eb;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


.video {
    width: "560";
    height: "315";
}
.val{
    color: fuchsia;
}



